<app-surface classes="flex flex-1 flex-col gap-[3.5rem]">
  <app-surface-title
    title="Redes sociais"
    description="Configure suas redes sociais e links"
  ></app-surface-title>

  <form (submit)="onSubmit($event)">
    <ul class="space-y-[2rem]">
      @for (social of socials(); track social; let i = $index) {
        <li class="bg-[#e2e2e2] w-full rounded-[.625rem] px-[1rem] py-[1.5rem] h-auto">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-[.75rem]">
              <ng-icon [name]="social.icon" size="20"></ng-icon>
              <span class="font-urbanist font-semibold text-[1.25rem]">{{ social.label }}</span>
            </div>

            <!-- usa função que atualiza o signal de forma imutável -->
            <app-switch-button
              [checked]="social.enabled"
              (checkedChange)="toggleEnabled(i, $event)"
            ></app-switch-button>
          </div>

          @if (social.enabled) {
            @let field = socialsForm[social.key]();

            <app-input
              placeholder="@exemplo"
              sizeH="sm"
              class="block mt-[1.1875rem]"
              [formField]="socialsForm[social.key]"
            ></app-input>

            @if (field.touched() && field.invalid()) {
              <ul>
                @for (error of field.errors(); track error) {
                  <li class="text-error">{{ error.message }}</li>
                }
              </ul>
            }
          }
        </li>
      }
    </ul>

    <app-button type="submit" sizeH="sm" class="w-full mt-[3.5rem]">Salvar alterações</app-button>
  </form>
</app-surface>
