<app-modal [isOpen]="isOpen()" (close)="close.emit()" class="">
  <div class="w-full rounded-xl bg-white shadow-xl p-6">
    <header class="">
      <h2 class="font-urbanist font-semibold text-[1.5rem]">Alterar senha</h2>
    </header>

    <section class="space-y-4 py-6">
      <div>
        <app-label>Senha atual</app-label>
        <app-input type="password" placeholder="Digite a senha atual" />
      </div>

      <div>
        <app-label>Nova senha</app-label>
        <app-input type="password" placeholder="Digite a nova senha" />
      </div>

      <div>
        <app-label>Confirmar nova senha</app-label>
        <app-input type="password" placeholder="Confirme a nova senha" />
      </div>
    </section>

    <footer class="flex items-center justify-between gap-4">
      <app-button variant="outline" (click)="close.emit()" class="flex-1 w-full"
        >Cancelar</app-button
      >
      <app-button (click)="submit()" class="flex-1 w-full">Confirmar</app-button>
    </footer>
  </div>
</app-modal>
