<app-modal [isOpen]="isOpen()" (close)="onClose()">
  <div class="w-full rounded-xl bg-white shadow-xl p-6">
    <header>
      <h2 class="font-urbanist font-semibold text-[1.5rem]">Alterar senha</h2>
    </header>

    <form (submit)="submit($event)">
      <section class="space-y-4 py-6">
        <div class="flex flex-col gap-2">
          <app-label for="current_password">Senha atual</app-label>
          <app-input
            id="current_password"
            type="password"
            placeholder="Digite a senha atual"
            [formField]="changePasswordForm.current_password"
          />

          @if (
            changePasswordForm.current_password().touched() &&
            changePasswordForm.current_password().invalid()
          ) {
            <ul>
              @for (error of changePasswordForm.current_password().errors(); track error) {
                <li class="text-error text-sm">{{ error.message }}</li>
              }
            </ul>
          }
        </div>

        <div class="flex flex-col gap-2">
          <app-label for="new_password">Nova senha</app-label>
          <app-input
            id="new_password"
            type="password"
            placeholder="Digite a nova senha"
            [formField]="changePasswordForm.new_password"
          />

          @if (
            changePasswordForm.new_password().touched() &&
            changePasswordForm.new_password().invalid()
          ) {
            <ul>
              @for (error of changePasswordForm.new_password().errors(); track error) {
                <li class="text-error text-sm">{{ error.message }}</li>
              }
            </ul>
          }
        </div>

        <div class="flex flex-col gap-2">
          <app-label for="confirm_password">Confirmar nova senha</app-label>
          <app-input
            id="confirm_password"
            type="password"
            placeholder="Confirme a nova senha"
            [formField]="changePasswordForm.confirm_password"
          />

          @if (
            changePasswordForm.confirm_password().touched() &&
            changePasswordForm.confirm_password().invalid()
          ) {
            <ul>
              @for (error of changePasswordForm.confirm_password().errors(); track error) {
                <li class="text-error text-sm">{{ error.message }}</li>
              }
            </ul>
          }
        </div>
      </section>

      <footer class="flex items-center justify-between gap-4">
        <app-button
          type="button"
          variant="outline"
          (click)="onClose()"
          class="flex-1 w-full"
          [disabled]="isSubmitting()"
        >
          Cancelar
        </app-button>

        <app-button type="submit" class="flex-1 w-full" [disabled]="isSubmitting()">
          {{ isSubmitting() ? 'Alterando...' : 'Confirmar' }}
        </app-button>
      </footer>
    </form>
  </div>
</app-modal>
