<div>
  <app-dashboard-title
    title="Assinatura"
    description="Gerencie seu plano, renovação e pagamentos"
  ></app-dashboard-title>

  @if (user()) {
    @if (isPaymentPending()) {
      <app-pending-payment
        [data]="pendingPaymentData()"
        (payment)="completePendingPayment()"
        (cancel)="cancelSubscriptionOrPaymentLink()"
      />
    }

    <app-current-plan
      [data]="currentPlanData()"
      (selectPlan)="goToSelectPlan()"
      (changePlan)="goToChangePlan()"
      (renew)="renewSubscription()"
      (cancelSubscription)="cancelSubscriptionOrPaymentLink()"
    ></app-current-plan>

    <app-billing-info />

    <app-faq [data]="featuresData()" />
  } @else {
    <app-loader />
  }
</div>
