<app-auth-form
  title="Redefinir senha"
  subtitle="Crie uma nova senha segura."
  (submitForm)="onSubmit($event)"
>
  <!-- Code -->
  <div class="flex flex-col gap-[.5rem] ">
    <app-label variant="auth" for="code">Código de verificação</app-label>
    <app-input
      variant="default"
      id="code"
      type="text"
      placeholder="Digite o código enviado."
      sizeH="xl"
      [formField]="resetPasswordForm.code"
    />
    <!-- Email error message -->
    @if (resetPasswordForm.code().touched() && resetPasswordForm.code().invalid()) {
    <ul>
      @for (error of resetPasswordForm.code().errors(); track error) {
      <li class="text-error">{{ error.message }}</li>
      }
    </ul>
    }
  </div>

  <!-- Password -->
  <div class="flex flex-col gap-[.5rem]">
    <app-label variant="auth" for="password">Nova senha</app-label>
    <app-input
      variant="default"
      id="password"
      type="text"
      placeholder="Digite sua nova senha."
      sizeH="xl"
      [formField]="resetPasswordForm.code"
    />
    <!-- Email error message -->
    @if (resetPasswordForm.code().touched() && resetPasswordForm.code().invalid()) {
    <ul>
      @for (error of resetPasswordForm.code().errors(); track error) {
      <li class="text-error">{{ error.message }}</li>
      }
    </ul>
    }
  </div>

  <app-button type="submit" class="w-full" sizeH="xl">Confirmar senha</app-button>
</app-auth-form>
