<app-auth-form
  title="Esqueci minha senha"
  subtitle="Enviaremos instruções para redefinir sua senha."
  (submitForm)="onSubmit($event)"
>
  <!-- Code -->
  <div class="flex flex-col gap-[.5rem]">
    <app-label variant="auth" for="email">E-mail cadastrado</app-label>
    <app-input
      variant="default"
      id="email"
      type="email"
      placeholder="Digite o seu e-mail."
      sizeH="xl"
      [formField]="forgotPasswordForm.email"
    />
    <!-- Email error message -->
    @if (forgotPasswordForm.email().touched() && forgotPasswordForm.email().invalid()) {
    <ul>
      @for (error of forgotPasswordForm.email().errors(); track error) {
      <li class="text-error">{{ error.message }}</li>
      }
    </ul>
    }
  </div>

  <app-button type="submit" class="w-full" sizeH="xl">Enviar código</app-button>
</app-auth-form>
